*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif ;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    background: url('calculator.jpg') no-repeat center center/cover;

}
.calculator{
    border: 3px solid#717377;
    padding: 15px;
    border-radius: 10px;
     background: linear-gradient(50deg,lightblue,lightpink); 
     margin-left: 200px;
     margin-top: 60px;
   
    
}
input{
    width: 320px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    background: black;
    font-size: 40px;
    text-align: right;
    cursor: hand;
    color: #ffffff;
}

input::placeholder{
    color:whitesmoke;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 45%;
    color:#ffffff;
    font-size: 25px;
    cursor: pointer;
   
}
button:hover{
    background-color: lightcoral;
    color: skyblue;
    transform: scale(1.2);
}
.equal{
    background-color: #fb7c14;
}
.buttonn{
    color: orangered;
    background-color: gray;
}

.button{
    background-color: gray;
}

.buttonar{
    background-color: #fb7c14;
}
